<ion-content  class="pointUpIntro">
    <div class="container">
      <div class="col title">
        <h1>Pointing up</h1>
      </div>
      <div class="col pagebody">
        <div class="pagebody-text col" >Now we ask, “How high?” You need to point about 30<sup>o</sup> up from the ground. We don’t know what that means, either, but with your arm out, like before, raise and lower it until the handlebar mustache fits.</div>
        
      </div>
      <div class="col footer">
        <button (click)="findHeight()" >Next</button>
      </div>
    </div>
  </ion-content>