<ion-content  class="pointNorth">
    <div class="container">
      <div class="col title">
        <h1>Pointing in the right direction</h1>
      </div>
      <div class="col pagebody">
        <div class="pagebody-text col" >Stand with your phone in your hand, arm extended, screen facing up, and rotate on your feet until the two clock hands on the next screen are at midnight.</div>
        <div class="pagebody-img col">
          <div class="clock-wrap">
            <img src="./assets/img/clock face.svg" class="clock clock-face" alt="">
            <img src="./assets/img/clock spoke.svg" class="clock clock-spoke" alt="">
            <img src="./assets/img/minute hand.svg" class="clock clock-minute" alt="">
            <img src="./assets/img/hour hand.svg" class="clock clock-hour" alt="">
          </div>
        </div>
      </div>
      <div class="col footer">
        <button (click)="findNorth()">Next</button>
      </div>
    </div>
  </ion-content>