<ion-content  class="end">
    <div class="container">
      <div class="col title">
        <h1>Congratulations!</h1>
      </div>
      <div class="col pagebody">
        <div class="pagebody-text col" >Now you know exactly where SATTEFI-US-117 lives. You should visit! But seriously, just point your antenna at the same place in the sky, and you’re all set. If you like, you can tap “Fine- Tune” for some advanced adjustment options. Otherwise, welcome to SatteFi<sup>TM</sup>.
          </div>
        
      </div>
      <div class="col footer">
          <button class="btn-finetune">Fine-tune</button><button class="btn-finish">Finish</button>
      </div>
    </div>
  </ion-content>